env/
venv/

.idea/
.vscode/
.fleet
run.json
settings.json

__pycache__/
*/__pycache__/
*/*/__pycache__/

resources/
.buildozer/
bin/
build/
DooWeather.spec

DooWeather.egg*
dist/

dooweather/dooweather-cache.json
dooweather-cache.json
